#app {
    width: 100%;
    height: 800px;
    background-color: magenta;
}

.container
{
    text-align: center;
}
#myCarousel
{
    background-color: deepskyblue;
}

#myCarousel img
{
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p
{
    margin-bottom: 15px;
    margin-top: 15px;
    color : blueviolet;
    font-size: 20px;
}

#myCarouse2
{
    background-color: lawngreen;
}

#myCarouse2 img
{
    height: 300px;
    margin-top: 35px;
}
